<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>

    <li><%= @the_board.name %></li>
  </ul>
</nav>

<article>
  <header>
    Active listings
  </header>

  <div class="overflow-auto">
    <table>
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th>Expires on</th>
        <th>Posted on</th>
      </thead>

      <% active_listings = @the_board.listings.where({ :expires_on => (Date.today...) }) %>
      
      <tbody>
        <% active_listings.each do |a_listing| %>
          <tr>
            <td>
              <%= a_listing.title %>
            </td>

            <td>
              <%= a_listing.body %>
            </td>

            <td>
              <%= a_listing.expires_on %>
            </td>

            <td>
              <%= a_listing.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>

<article>
  <header>
    Expired listings
  </header>

  <div class="overflow-auto">
    <table>
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th>Expires on</th>
        <th>Posted on</th>
      </thead>

      <% expired_listings = @the_board.listings.where({ :expires_on => (...Date.today) }) %>
      
      <tbody>
        <% expired_listings.each do |a_listing| %>
          <tr>
            <td>
              <%= a_listing.title %>
            </td>

            <td>
              <%= a_listing.body %>
            </td>

            <td>
              <%= a_listing.expires_on %>
            </td>

            <td>
              <%= a_listing.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>
